vti_encoding:SR|utf8-nl
vti_author:SR|Bill-Laptop\\Bill
vti_modifiedby:SR|Bill-Laptop\\Bill
vti_timelastmodified:TR|13 Feb 2014 22:43:32 -0000
vti_timecreated:TR|25 Jan 2014 18:46:58 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|portfolio/AshleysPhotoCollection/index.php
vti_nexttolasttimemodified:TW|13 Feb 2014 07:08:33 -0000
vti_syncwith_matrixinternetsolutions.com\:21/williamellisdesigns:TX|13 Feb 2014 22:43:32 -0000
vti_syncofs_matrixinternetsolutions.com\:21/williamellisdesigns:TW|13 Feb 2014 22:44:00 -0000
vti_cacheddtm:TX|13 Feb 2014 22:43:32 -0000
vti_filesize:IR|2733
